In [43]:
#train test split

In [44]:
import numpy as np
import pandas as pd

In [45]:
data=pd.read_csv("veriler.csv")
df=data.copy()
df

   ulke  boy  kilo  yas cinsiyet
0    tr  130    30   10        e
1    tr  125    36   11        e
2    tr  135    34   10        k
3    tr  133    30    9        k
4    tr  129    38   12        e
5    tr  180    90   30        e
6    tr  190    80   25        e
7    tr  175    90   35        e
8    tr  177    60   22        k
9    us  185   105   33        e
10   us  165    55   27        k
11   us  155    50   44        k
12   us  160    58   39        k
13   us  162    59   41        k
14   us  167    62   55        k
15   fr  174    70   47        e
16   fr  193    90   23        e
17   fr  187    80   27        e
18   fr  183    88   28        e
19   fr  159    40   29        k
20   fr  164    66   32        k
21   fr  166    56   42        k

In [46]:
#check out unique vals
df["ulke"].unique()

array(['tr', 'us', 'fr'], dtype=object)

In [47]:
#one hot encode with ulke column

from sklearn.preprocessing import OneHotEncoder

ohe=OneHotEncoder(handle_unknown="ignore",sparse_output=False).set_output(transform="pandas")
encoded_data=ohe.fit_transform(df[["ulke"]])
encoded_data

    ulke_fr  ulke_tr  ulke_us
0       0.0      1.0      0.0
1       0.0      1.0      0.0
2       0.0      1.0      0.0
3       0.0      1.0      0.0
4       0.0      1.0      0.0
5       0.0      1.0      0.0
6       0.0      1.0      0.0
7       0.0      1.0      0.0
8       0.0      1.0      0.0
9       0.0      0.0      1.0
10      0.0      0.0      1.0
11      0.0      0.0      1.0
12      0.0      0.0      1.0
13      0.0      0.0      1.0
14      0.0      0.0      1.0
15      1.0      0.0      0.0
16      1.0      0.0      0.0
17      1.0      0.0      0.0
18      1.0      0.0      0.0
19      1.0      0.0      0.0
20      1.0      0.0      0.0
21      1.0      0.0      0.0

In [48]:
#drop dummy variables

encoded_data.drop(columns=["ulke_us"],inplace=True)
df.drop(columns=["ulke"],inplace=True)

In [49]:
#concat encoded data and df

df=pd.concat([df,encoded_data],axis=1)
df

    boy  kilo  yas cinsiyet  ulke_fr  ulke_tr
0   130    30   10        e      0.0      1.0
1   125    36   11        e      0.0      1.0
2   135    34   10        k      0.0      1.0
3   133    30    9        k      0.0      1.0
4   129    38   12        e      0.0      1.0
5   180    90   30        e      0.0      1.0
6   190    80   25        e      0.0      1.0
7   175    90   35        e      0.0      1.0
8   177    60   22        k      0.0      1.0
9   185   105   33        e      0.0      0.0
10  165    55   27        k      0.0      0.0
11  155    50   44        k      0.0      0.0
12  160    58   39        k      0.0      0.0
13  162    59   41        k      0.0      0.0
14  167    62   55        k      0.0      0.0
15  174    70   47        e      1.0      0.0
16  193    90   23        e      1.0      0.0
17  187    80   27        e      1.0      0.0
18  183    88   28        e      1.0      0.0
19  159    40   29        k      1.0      0.0
20  164    66   32        k      1.0      0.0
21  166    56   42        k      1.0      0.0

In [50]:
# cinsiyet column does not affect boy kilo or yas
df

    boy  kilo  yas cinsiyet  ulke_fr  ulke_tr
0   130    30   10        e      0.0      1.0
1   125    36   11        e      0.0      1.0
2   135    34   10        k      0.0      1.0
3   133    30    9        k      0.0      1.0
4   129    38   12        e      0.0      1.0
5   180    90   30        e      0.0      1.0
6   190    80   25        e      0.0      1.0
7   175    90   35        e      0.0      1.0
8   177    60   22        k      0.0      1.0
9   185   105   33        e      0.0      0.0
10  165    55   27        k      0.0      0.0
11  155    50   44        k      0.0      0.0
12  160    58   39        k      0.0      0.0
13  162    59   41        k      0.0      0.0
14  167    62   55        k      0.0      0.0
15  174    70   47        e      1.0      0.0
16  193    90   23        e      1.0      0.0
17  187    80   27        e      1.0      0.0
18  183    88   28        e      1.0      0.0
19  159    40   29        k      1.0      0.0
20  164    66   32        k      1.0      0.0
21  166    56   42        k      1.0      0.0

In [51]:
#split data as x and y
x=df.drop("cinsiyet",axis=1)
x

    boy  kilo  yas  ulke_fr  ulke_tr
0   130    30   10      0.0      1.0
1   125    36   11      0.0      1.0
2   135    34   10      0.0      1.0
3   133    30    9      0.0      1.0
4   129    38   12      0.0      1.0
5   180    90   30      0.0      1.0
6   190    80   25      0.0      1.0
7   175    90   35      0.0      1.0
8   177    60   22      0.0      1.0
9   185   105   33      0.0      0.0
10  165    55   27      0.0      0.0
11  155    50   44      0.0      0.0
12  160    58   39      0.0      0.0
13  162    59   41      0.0      0.0
14  167    62   55      0.0      0.0
15  174    70   47      1.0      0.0
16  193    90   23      1.0      0.0
17  187    80   27      1.0      0.0
18  183    88   28      1.0      0.0
19  159    40   29      1.0      0.0
20  164    66   32      1.0      0.0
21  166    56   42      1.0      0.0

In [52]:
y=df["cinsiyet"]
y

0     e
1     e
2     k
3     k
4     e
5     e
6     e
7     e
8     k
9     e
10    k
11    k
12    k
13    k
14    k
15    e
16    e
17    e
18    e
19    k
20    k
21    k
Name: cinsiyet, dtype: object

In [53]:
#trains and test are row-oriented splits
#x and y are splits for dependent and independent variable
#x independent var
#y dependent var

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=0)

In [54]:
x_train.size

70

In [55]:
y_train.size

14

In [56]:
x_test.size

40

In [57]:
y_test.size

8

In [58]:
#MinMaxScaler is typically preferred to preserve the data distribution,original distribution is crucial
# StandardScaler is used in algorithms where differences and variances among features are significant,less outlier sensitivity

from sklearn.preprocessing import MinMaxScaler

mms=MinMaxScaler()
scaled_x_train=mms.fit_transform(x_train)
scaled_x_test=mms.fit_transform(x_test)

In [59]:
scaled_x_train

array([[0.75      , 0.4       , 0.34210526, 0.        , 1.        ],
       [0.953125  , 0.66666667, 0.42105263, 0.        , 1.        ],
       [1.        , 0.8       , 0.36842105, 1.        , 0.        ],
       [0.        , 0.10666667, 0.07894737, 0.        , 1.        ],
       [0.09375   , 0.05333333, 0.02631579, 0.        , 1.        ],
       [0.796875  , 0.8       , 0.55263158, 0.        , 1.        ],
       [0.90625   , 0.66666667, 0.47368421, 1.        , 0.        ],
       [0.875     , 1.        , 0.63157895, 0.        , 0.        ],
       [0.71875   , 0.8       , 0.68421053, 0.        , 1.        ],
       [0.84375   , 0.77333333, 0.5       , 1.        , 0.        ],
       [0.0625    , 0.        , 0.        , 0.        , 1.        ],
       [0.015625  , 0.        , 0.02631579, 0.        , 1.        ],
       [0.703125  , 0.53333333, 1.        , 1.        , 0.        ],
       [0.484375  , 0.37333333, 0.78947368, 0.        , 0.        ]])

In [60]:
scaled_x_test

array([[0.92857143, 1.        , 0.47727273, 1.        , 0.        ],
       [0.95238095, 0.63333333, 0.36363636, 0.        , 0.        ],
       [1.        , 0.86666667, 1.        , 0.        , 0.        ],
       [0.88095238, 0.76666667, 0.68181818, 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 1.        ],
       [0.97619048, 0.66666667, 0.70454545, 1.        , 0.        ],
       [0.71428571, 0.46666667, 0.75      , 0.        , 0.        ],
       [0.80952381, 0.13333333, 0.40909091, 1.        , 0.        ]])

In [61]:
from sklearn.preprocessing import StandardScaler

ss=StandardScaler()

scaled_x_train=ss.fit_transform(x_train)
scaled_x_test=ss.fit_transform(x_test)

In [62]:
scaled_x_train

array([[ 0.45049444, -0.29657884, -0.26680787, -0.63245553,  0.8660254 ],
       [ 1.00824945,  0.5096549 ,  0.        , -0.63245553,  0.8660254 ],
       [ 1.13696215,  0.91277178, -0.17787191,  1.58113883, -1.15470054],
       [-1.6089087 , -1.18343596, -1.15616745, -0.63245553,  0.8660254 ],
       [-1.35148331, -1.34468271, -1.33403936, -0.63245553,  0.8660254 ],
       [ 0.57920713,  0.91277178,  0.44467979, -0.63245553,  0.8660254 ],
       [ 0.87953676,  0.5096549 ,  0.17787191,  1.58113883, -1.15470054],
       [ 0.79372829,  1.51744708,  0.71148766, -0.63245553, -1.15470054],
       [ 0.36468597,  0.91277178,  0.88935957, -0.63245553,  0.8660254 ],
       [ 0.70791983,  0.8321484 ,  0.26680787,  1.58113883, -1.15470054],
       [-1.43729177, -1.50592946, -1.42297532, -0.63245553,  0.8660254 ],
       [-1.56600447, -1.50592946, -1.33403936, -0.63245553,  0.8660254 ],
       [ 0.32178174,  0.10653803,  1.95659106,  1.58113883, -1.15470054],
       [-0.27887751, -0.37720222,  1.2451034 , -0.63245553, -1.15470054]])

In [63]:
scaled_x_test

array([[ 0.47240026,  1.32853794, -0.24991255,  1.29099445, -0.37796447],
       [ 0.54952683,  0.20439045, -0.64977262, -0.77459667, -0.37796447],
       [ 0.70377998,  0.91975703,  1.58944379, -0.77459667, -0.37796447],
       [ 0.31814711,  0.61317136,  0.46983559, -0.77459667, -0.37796447],
       [-2.53553608, -1.73731884, -1.92932485, -0.77459667,  2.64575131],
       [ 0.6266534 ,  0.30658568,  0.5498076 ,  1.29099445, -0.37796447],
       [-0.2217389 , -0.30658568,  0.70975163, -0.77459667, -0.37796447],
       [ 0.08676739, -1.32853794, -0.48982859,  1.29099445, -0.37796447]])