In [86]:
#BACKWARD ELIMINATION

In [87]:
import numpy as np
import pandas as pd

In [88]:
data=pd.read_csv("veriler.csv")
df=data.copy()
print(df.shape)

(22, 5)

In [89]:
#lets encode cinsiyet column
#one hot encoder

from sklearn.preprocessing import OneHotEncoder

ohe=OneHotEncoder(handle_unknown="ignore",sparse_output=False).set_output(transform="pandas")
ohe_transform=ohe.fit_transform(df[["cinsiyet"]])
ohe_transform

    cinsiyet_e  cinsiyet_k
0          1.0         0.0
1          1.0         0.0
2          0.0         1.0
3          0.0         1.0
4          1.0         0.0
5          1.0         0.0
6          1.0         0.0
7          1.0         0.0
8          0.0         1.0
9          1.0         0.0
10         0.0         1.0
11         0.0         1.0
12         0.0         1.0
13         0.0         1.0
14         0.0         1.0
15         1.0         0.0
16         1.0         0.0
17         1.0         0.0
18         1.0         0.0
19         0.0         1.0
20         0.0         1.0
21         0.0         1.0

In [90]:
#lets delete dummy columms and concat 2 df

df=pd.concat([df,ohe_transform],axis=1).drop(columns=["cinsiyet","cinsiyet_e"])
df

   ulke  boy  kilo  yas  cinsiyet_k
0    tr  130    30   10         0.0
1    tr  125    36   11         0.0
2    tr  135    34   10         1.0
3    tr  133    30    9         1.0
4    tr  129    38   12         0.0
5    tr  180    90   30         0.0
6    tr  190    80   25         0.0
7    tr  175    90   35         0.0
8    tr  177    60   22         1.0
9    us  185   105   33         0.0
10   us  165    55   27         1.0
11   us  155    50   44         1.0
12   us  160    58   39         1.0
13   us  162    59   41         1.0
14   us  167    62   55         1.0
15   fr  174    70   47         0.0
16   fr  193    90   23         0.0
17   fr  187    80   27         0.0
18   fr  183    88   28         0.0
19   fr  159    40   29         1.0
20   fr  164    66   32         1.0
21   fr  166    56   42         1.0

In [91]:
#lets encode ulke column

ohe_transform=ohe.fit_transform(df[["ulke"]])
ohe_transform

    ulke_fr  ulke_tr  ulke_us
0       0.0      1.0      0.0
1       0.0      1.0      0.0
2       0.0      1.0      0.0
3       0.0      1.0      0.0
4       0.0      1.0      0.0
5       0.0      1.0      0.0
6       0.0      1.0      0.0
7       0.0      1.0      0.0
8       0.0      1.0      0.0
9       0.0      0.0      1.0
10      0.0      0.0      1.0
11      0.0      0.0      1.0
12      0.0      0.0      1.0
13      0.0      0.0      1.0
14      0.0      0.0      1.0
15      1.0      0.0      0.0
16      1.0      0.0      0.0
17      1.0      0.0      0.0
18      1.0      0.0      0.0
19      1.0      0.0      0.0
20      1.0      0.0      0.0
21      1.0      0.0      0.0

In [92]:
#lets concat 

df=pd.concat([df,ohe_transform],axis=1).drop(columns=["ulke"])
df

    boy  kilo  yas  cinsiyet_k  ulke_fr  ulke_tr  ulke_us
0   130    30   10         0.0      0.0      1.0      0.0
1   125    36   11         0.0      0.0      1.0      0.0
2   135    34   10         1.0      0.0      1.0      0.0
3   133    30    9         1.0      0.0      1.0      0.0
4   129    38   12         0.0      0.0      1.0      0.0
5   180    90   30         0.0      0.0      1.0      0.0
6   190    80   25         0.0      0.0      1.0      0.0
7   175    90   35         0.0      0.0      1.0      0.0
8   177    60   22         1.0      0.0      1.0      0.0
9   185   105   33         0.0      0.0      0.0      1.0
10  165    55   27         1.0      0.0      0.0      1.0
11  155    50   44         1.0      0.0      0.0      1.0
12  160    58   39         1.0      0.0      0.0      1.0
13  162    59   41         1.0      0.0      0.0      1.0
14  167    62   55         1.0      0.0      0.0      1.0
15  174    70   47         0.0      1.0      0.0      0.0
16  193    90   23         0.0      1.0      0.0      0.0
17  187    80   27         0.0      1.0      0.0      0.0
18  183    88   28         0.0      1.0      0.0      0.0
19  159    40   29         1.0      1.0      0.0      0.0
20  164    66   32         1.0      1.0      0.0      0.0
21  166    56   42         1.0      1.0      0.0      0.0

In [93]:
y=df["boy"]
df.drop(columns="boy",inplace=True)

In [94]:
#check out which variable is corrupting model, measuring their p values(max p val)
import statsmodels.api as sm

#try to add b0 values in here [   Y=B0+B1X1+B2X2+B3X3+ERROR_RATE ]
X=np.append(arr=np.ones((22,1)).astype(int),values=df,axis=1)
X

array([[  1.,  30.,  10.,   0.,   0.,   1.,   0.],
       [  1.,  36.,  11.,   0.,   0.,   1.,   0.],
       [  1.,  34.,  10.,   1.,   0.,   1.,   0.],
       [  1.,  30.,   9.,   1.,   0.,   1.,   0.],
       [  1.,  38.,  12.,   0.,   0.,   1.,   0.],
       [  1.,  90.,  30.,   0.,   0.,   1.,   0.],
       [  1.,  80.,  25.,   0.,   0.,   1.,   0.],
       [  1.,  90.,  35.,   0.,   0.,   1.,   0.],
       [  1.,  60.,  22.,   1.,   0.,   1.,   0.],
       [  1., 105.,  33.,   0.,   0.,   0.,   1.],
       [  1.,  55.,  27.,   1.,   0.,   0.,   1.],
       [  1.,  50.,  44.,   1.,   0.,   0.,   1.],
       [  1.,  58.,  39.,   1.,   0.,   0.,   1.],
       [  1.,  59.,  41.,   1.,   0.,   0.,   1.],
       [  1.,  62.,  55.,   1.,   0.,   0.,   1.],
       [  1.,  70.,  47.,   0.,   1.,   0.,   0.],
       [  1.,  90.,  23.,   0.,   1.,   0.,   0.],
       [  1.,  80.,  27.,   0.,   1.,   0.,   0.],
       [  1.,  88.,  28.,   0.,   1.,   0.,   0.],
       [  1.,  40.,  29.,   1.,   1.,   0.,   0.],
       [  1.,  66.,  32.,   1.,   1.,   0.,   0.],
       [  1.,  56.,  42.,   1.,   1.,   0.,   0.]])

In [95]:
df

    kilo  yas  cinsiyet_k  ulke_fr  ulke_tr  ulke_us
0     30   10         0.0      0.0      1.0      0.0
1     36   11         0.0      0.0      1.0      0.0
2     34   10         1.0      0.0      1.0      0.0
3     30    9         1.0      0.0      1.0      0.0
4     38   12         0.0      0.0      1.0      0.0
5     90   30         0.0      0.0      1.0      0.0
6     80   25         0.0      0.0      1.0      0.0
7     90   35         0.0      0.0      1.0      0.0
8     60   22         1.0      0.0      1.0      0.0
9    105   33         0.0      0.0      0.0      1.0
10    55   27         1.0      0.0      0.0      1.0
11    50   44         1.0      0.0      0.0      1.0
12    58   39         1.0      0.0      0.0      1.0
13    59   41         1.0      0.0      0.0      1.0
14    62   55         1.0      0.0      0.0      1.0
15    70   47         0.0      1.0      0.0      0.0
16    90   23         0.0      1.0      0.0      0.0
17    80   27         0.0      1.0      0.0      0.0
18    88   28         0.0      1.0      0.0      0.0
19    40   29         1.0      1.0      0.0      0.0
20    66   32         1.0      1.0      0.0      0.0
21    56   42         1.0      1.0      0.0      0.0

In [96]:
#create a list for each column in df and eliminate them to reach most proper columns for regression

X_list=df.iloc[:,[0,1,2,3,4,5]].values
X_list

array([[ 30.,  10.,   0.,   0.,   1.,   0.],
       [ 36.,  11.,   0.,   0.,   1.,   0.],
       [ 34.,  10.,   1.,   0.,   1.,   0.],
       [ 30.,   9.,   1.,   0.,   1.,   0.],
       [ 38.,  12.,   0.,   0.,   1.,   0.],
       [ 90.,  30.,   0.,   0.,   1.,   0.],
       [ 80.,  25.,   0.,   0.,   1.,   0.],
       [ 90.,  35.,   0.,   0.,   1.,   0.],
       [ 60.,  22.,   1.,   0.,   1.,   0.],
       [105.,  33.,   0.,   0.,   0.,   1.],
       [ 55.,  27.,   1.,   0.,   0.,   1.],
       [ 50.,  44.,   1.,   0.,   0.,   1.],
       [ 58.,  39.,   1.,   0.,   0.,   1.],
       [ 59.,  41.,   1.,   0.,   0.,   1.],
       [ 62.,  55.,   1.,   0.,   0.,   1.],
       [ 70.,  47.,   0.,   1.,   0.,   0.],
       [ 90.,  23.,   0.,   1.,   0.,   0.],
       [ 80.,  27.,   0.,   1.,   0.,   0.],
       [ 88.,  28.,   0.,   1.,   0.,   0.],
       [ 40.,  29.,   1.,   1.,   0.,   0.],
       [ 66.,  32.,   1.,   1.,   0.,   0.],
       [ 56.,  42.,   1.,   1.,   0.,   0.]])

In [97]:
type(X_list)

numpy.ndarray

In [98]:
X_list=np.array(X_list,dtype=float)
#measure the impact of each column over 'boy' column
model=sm.OLS(y,X_list).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    boy   R-squared:                       0.885
Model:                            OLS   Adj. R-squared:                  0.849
Method:                 Least Squares   F-statistic:                     24.69
Date:                Thu, 16 May 2024   Prob (F-statistic):           5.41e-07
Time:                        22:24:57   Log-Likelihood:                -73.950
No. Observations:                  22   AIC:                             159.9
Df Residuals:                      16   BIC:                             166.4
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.9211      0.119      7.737      0.000       0.669       1.174
x2             0.0814      0.221      0.369      0.717      -0.386       0.549
x3            10.5980      5.052      2.098      0.052      -0.112      21.308
x4           103.4708      9.878     10.475      0.000      82.530     124.412
x5            97.7050      7.463     13.091      0.000      81.883     113.527
x6            93.8734     11.312      8.298      0.000      69.892     117.855
==============================================================================
Omnibus:                        1.031   Durbin-Watson:                   2.759
Prob(Omnibus):                  0.597   Jarque-Bera (JB):                0.624
Skew:                           0.407   Prob(JB):                        0.732
Kurtosis:                       2.863   Cond. No.                         678.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [99]:
#after analyzing p values,there is sth wrong in x2
#p values should be as less as possible
#we need to eliminate x2, indexes start from 0 so 1st element will be eliminated
#yas column eliminated

df

    kilo  yas  cinsiyet_k  ulke_fr  ulke_tr  ulke_us
0     30   10         0.0      0.0      1.0      0.0
1     36   11         0.0      0.0      1.0      0.0
2     34   10         1.0      0.0      1.0      0.0
3     30    9         1.0      0.0      1.0      0.0
4     38   12         0.0      0.0      1.0      0.0
5     90   30         0.0      0.0      1.0      0.0
6     80   25         0.0      0.0      1.0      0.0
7     90   35         0.0      0.0      1.0      0.0
8     60   22         1.0      0.0      1.0      0.0
9    105   33         0.0      0.0      0.0      1.0
10    55   27         1.0      0.0      0.0      1.0
11    50   44         1.0      0.0      0.0      1.0
12    58   39         1.0      0.0      0.0      1.0
13    59   41         1.0      0.0      0.0      1.0
14    62   55         1.0      0.0      0.0      1.0
15    70   47         0.0      1.0      0.0      0.0
16    90   23         0.0      1.0      0.0      0.0
17    80   27         0.0      1.0      0.0      0.0
18    88   28         0.0      1.0      0.0      0.0
19    40   29         1.0      1.0      0.0      0.0
20    66   32         1.0      1.0      0.0      0.0
21    56   42         1.0      1.0      0.0      0.0

In [110]:
X_list=df.iloc[:,[0,2,3,4,5]].values
X_list=np.array(X_list,dtype=float)
model=sm.OLS(y,X_list).fit()
model.summary()
#significance level is 0.05 so that 0.031 is acceptable
#but we also can eliminate this
#cinsiyet_k column eliminated

array([[ 30.,   0.,   0.,   1.,   0.],
       [ 36.,   0.,   0.,   1.,   0.],
       [ 34.,   1.,   0.,   1.,   0.],
       [ 30.,   1.,   0.,   1.,   0.],
       [ 38.,   0.,   0.,   1.,   0.],
       [ 90.,   0.,   0.,   1.,   0.],
       [ 80.,   0.,   0.,   1.,   0.],
       [ 90.,   0.,   0.,   1.,   0.],
       [ 60.,   1.,   0.,   1.,   0.],
       [105.,   0.,   0.,   0.,   1.],
       [ 55.,   1.,   0.,   0.,   1.],
       [ 50.,   1.,   0.,   0.,   1.],
       [ 58.,   1.,   0.,   0.,   1.],
       [ 59.,   1.,   0.,   0.,   1.],
       [ 62.,   1.,   0.,   0.,   1.],
       [ 70.,   0.,   1.,   0.,   0.],
       [ 90.,   0.,   1.,   0.,   0.],
       [ 80.,   0.,   1.,   0.,   0.],
       [ 88.,   0.,   1.,   0.,   0.],
       [ 40.,   1.,   1.,   0.,   0.],
       [ 66.,   1.,   1.,   0.,   0.],
       [ 56.,   1.,   1.,   0.,   0.]])

In [112]:
#lets eliminate x2,cinsiyet_k column
X_list=df.iloc[:,[0,3,4,5]].values
X_list=np.array(X_list,dtype=float)
model=sm.OLS(y,X_list).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    boy   R-squared:                       0.847
Model:                            OLS   Adj. R-squared:                  0.821
Method:                 Least Squares   F-statistic:                     33.16
Date:                Thu, 16 May 2024   Prob (F-statistic):           1.52e-07
Time:                        22:41:03   Log-Likelihood:                -77.131
No. Observations:                  22   AIC:                             162.3
Df Residuals:                      18   BIC:                             166.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.7904      0.092      8.595      0.000       0.597       0.984
x2           119.8136      7.265     16.491      0.000     104.550     135.077
x3           109.8084      5.804     18.919      0.000      97.615     122.002
x4           114.4212      6.984     16.382      0.000      99.747     129.095
==============================================================================
Omnibus:                        2.925   Durbin-Watson:                   2.855
Prob(Omnibus):                  0.232   Jarque-Bera (JB):                1.499
Skew:                           0.605   Prob(JB):                        0.473
Kurtosis:                       3.416   Cond. No.                         369.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""